<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883333022781-6ag40nmmsnpfe9v079t7kmrerdsu9sql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883333022781-6ag40nmmsnpfe9v079t7kmrerdsu9sql</string>
	<key>API_KEY</key>
	<string>AIzaSyBnmIwTa12zJA_KN15MIDkHvbwA0-lfbtw</string>
	<key>GCM_SENDER_ID</key>
	<string>883333022781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YasinEhsan.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>udemy-chat-3c695</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-chat-3c695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883333022781:ios:6b7e4bb2397c5f0c</string>
	<key>DATABASE_URL</key>
	<string>https://udemy-chat-3c695.firebaseio.com</string>
</dict>
</plist>